
div.container {
    max-width:600px;
    margin: auto;
    border: 3px solid #c0c0c0;
    padding: 5px;
}


.news-company {
    font-weight:800;
}
header h1 {
    margin:5px 0;
}
.header-desc {
   text-align: right;
}

header span.time-desc{
    font-size: 12px;
    color:#909090;
}

button.white-botton{
    background-color: #fff;
    border: 1px solid #606060;
    margin: 0 2px;
    padding:5px 10px; 
}

.image-box {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 20px 0 20px;
}

.image-box img{
    width: 100%;
}

.image-box > span{
    width:100%;
    color:#909090;
    font-size: 13px;
}
.paragraph-group {
    margin: 50px 0;
    border-top: 1px solid #000;
}

.paragraph-group p {
    font-size: 16px;
    color: #606060;
    text-indent: 16px; 
}
/* text-indet 는 들여쓰기;*/