h1 {
    font-size: 18px;
    font-weight: 900;
    color: brown;
    line-height: 40px;
}

th{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:mediumblue;
}


/*  주석입니다. */

a ,a:visited {
    color:red;
    text-decoration: none; /*링크의 줄이 없어짐*/
    font-weight: 800;
}

img{
    width: 100px;
    height: 100px;
}
